@*@model BannerViewModel*@

    <section class="kc-elm kc-css-80942 kc_row">
        <div class="kc-row-container">
            <div class="kc-wrap-columns">
                <div class="kc-elm kc-css-757195 kc_col-sm-12 kc_column kc_col-sm-12">
                    <div class="kc-col-container">
                        <!-- slider-area-start -->
                        <div class="kc-elm kc-css-126097 ">
                            <div class="sliders-active owl-carousel">
                                <div class="slider-wrapper" style="background-image:url(/template/img/1.jpg)">
                                    <div class="container">
                                        <style type="text/css"></style><section class="kc-elm kc-css-331464 kc_row">
                                            <div class="kc-row-container  kc-container">
                                                <div class="kc-wrap-columns">
                                                    <div class="kc-elm kc-css-506938 kc_col-sm-12 kc_column kc_col-sm-12">
                                                        <div class="kc-col-container">
                                                            <div class="kc-elm kc-css-297062 ">
                                                                <div class="slider-info">
                                                                    <h3>Mẫu ví V-001  <span></span></h3>
                                                                    <h1>CÁ SẤU STORE <span class="boot">LEATHER IS NOT A LEATHER</span></h1>
                                                                    <p>Là cửa hàng chuyên các sản phẩm làm từ da cá sấu, chất liệu thật.<br> Hàng giả hoàn tiền 100%. </p>
                                                                    <a class="now" href="#" target="_self">MUA NGAY</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="slider-wrapper" style="background-image:url(/template/img/2.jpg)">
                                    <div class="container">
                                        <style type="text/css"></style><section class="kc-elm kc-css-917677 kc_row">
                                            <div class="kc-row-container  kc-container">
                                                <div class="kc-wrap-columns">
                                                    <div class="kc-elm kc-css-749467 kc_col-sm-12 kc_column kc_col-sm-12">
                                                        <div class="kc-col-container">
                                                            <div class="kc-elm kc-css-90814 ">
                                                                <div class="slider-info">
                                                                    <h3>Mẫu ví V-002  <span></span></h3>
                                                                    <h1>CÁ SẤU STORE  <span class="boot">LEATHER IS NOT A LEATHER</span></h1>
                                                                    <p>Là cửa hàng chuyên các sản phẩm làm từ da cá sấu, chất liệu thật.<br> Hàng giả hoàn tiền 100%. </p>
                                                                    <a class="now" href="#" target="_self">MUA NGAY</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- slider-area-end -->
                        <script>
                        (function ($) {
                            if ($('.kc-css-126097 .sliders-active').length) {
                                $('.kc-css-126097 .sliders-active').owlCarousel({
                                    loop: true,
                                    margin: 0,
                                    nav: true,
                                    autoplay: false,
                                    navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'],
                                    autoplayTimeout: 5000,
                                    dots: true,
                                    lazyLoad: true,
                                    items: 1,
                                    responsive: {
                                        0: {
                                            items: 1
                                        },
                                        600: {
                                            items: 1
                                        },
                                        800: {
                                            items: 1
                                        },
                                        1024: {
                                            items: 1
                                        },
                                        1200: {
                                            items: 1
                                        },
                                        1400: {
                                            items: 1
                                        },
                                        1920: {
                                            items: 1
                                        }
                                    }
                                });
                            }
                        })(jQuery);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>