@*@model BannerViewModel*@
<section class="kc-elm kc-css-594520 kc_row section-title text-center pt-100">
    <div class="kc-row-container kc-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-452235 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <div class="kc-elm kc-css-909708 kc-title-wrap">
                        <h2 class="kc_title">BÁN CHẠY</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="kc-elm kc-css-689132 kc_row">
    <div class="kc-row-container">
        <div class="kc-wrap-columns">
            <div class="kc-elm kc-css-741437 kc_col-sm-12 kc_column kc_col-sm-12">
                <div class="kc-col-container">
                    <div class="kc-elm kc-css-295048 woocommerce">
                        <div class="product-tab">
                            <!-- Nav tabs -->
                            <ul class="custom-tab" role="tablist">
                                <li class="active">
                                    <a href="#tab-half-moon" data-toggle="tab">Ví nam</a>
                                    <span class="count_products">16</span>
                                </li>
                                <li class="">
                                    <a href="#tab-clutch" data-toggle="tab">Ví nữ </a>
                                    <span class="count_products">3</span>
                                </li>
                                <li class="">
                                    <a href="#tab-pouch" data-toggle="tab">Phụ kiện </a>
                                    <span class="count_products">2</span>
                                </li>
                            </ul>
                            <!-- Tab panes -->

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab-half-moon">
                                    <div class="row grid_view products columns-5">
                                        <div class="owl-carousel">
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-90 product type-product status-publish has-post-thumbnail product_cat-half-moon product_cat-trending last instock shipping-taxable purchasable product-type-simple">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/sopo-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/18-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/17-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">New</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/home-2/?add-to-cart=90"
                                                                   data-quantity="1"
                                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                   data-product_id="90"
                                                                   data-product_sku=""
                                                                   aria-label="Add &ldquo;Sopo Designs x Woolrich Klettersack 22L Backpack&rdquo; to your cart"
                                                                   rel="nofollow"
                                                                   title="Add to cart">
                                                                    <span class="cart_text">Add to cart</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=90"
                                                                   data-product_id="90"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-90">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="90"
                                                                           data-product-type="simple"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/sopo-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Sopo Designs x Woolrich Klettersack 22L Backpack</h2>
                                                        </a>
                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>2,000.00</span>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate adipisicing ut labore et veniam, quis nostrud exercitation
                                                                ullamco,Proin lectus ipsum, gravida et mattis vulputate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-43 product type-product status-publish has-post-thumbnail product_cat-half-moon product_cat-trending first instock shipping-taxable purchasable product-type-variable">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/qopo-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/42-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/41-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">New</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/product/qopo-designs-x-woolrich-klettersack-22l-backpack/"
                                                                   data-quantity="1"
                                                                   class="button product_type_variable add_to_cart_button"
                                                                   data-product_id="43"
                                                                   data-product_sku=""
                                                                   aria-label="Select options for &ldquo;Qopo Designs x Woolrich Klettersack 22L Backpack&rdquo;"
                                                                   rel="nofollow"
                                                                   title="Select options">
                                                                    <span class="cart_text">Select options</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=43"
                                                                   data-product_id="43"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-43">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="43"
                                                                           data-product-type="variable"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/qopo-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Qopo Designs x Woolrich Klettersack 22L Backpack</h2>
                                                        </a>
                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>160.00</span> &ndash;
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>250.00</span>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-clutch">
                                    <div class="row grid_view products columns-5">
                                        <div class="owl-carousel">
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-103 product type-product status-publish has-post-thumbnail product_cat-clutch product_cat-half-moon first instock shipping-taxable purchasable product-type-simple">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/bopo-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/2-1-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/1-1-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">New</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/home-2/?add-to-cart=103"
                                                                   data-quantity="1"
                                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                   data-product_id="103"
                                                                   data-product_sku=""
                                                                   aria-label="Add &ldquo;Bopo Designs x Woolrich Klettersack 22L&rdquo; to your cart"
                                                                   rel="nofollow"
                                                                   title="Add to cart">
                                                                    <span class="cart_text">Add to cart</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=103"
                                                                   data-product_id="103"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-103">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="103"
                                                                           data-product-type="simple"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/bopo-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Bopo Designs x Woolrich Klettersack 22L</h2>
                                                        </a>
                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>279.99</span>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate adipisicing ut labore et veniam, quis nostrud exercitation
                                                                ullamco,Proin lectus ipsum, gravida et mattis vulputate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-97 product type-product status-publish has-post-thumbnail product_cat-clutch product_cat-half-moon instock sale featured shipping-taxable purchasable product-type-simple">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/white-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/30-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/29-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">-14%</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/home-2/?add-to-cart=97"
                                                                   data-quantity="1"
                                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                   data-product_id="97"
                                                                   data-product_sku=""
                                                                   aria-label="Add &ldquo;White Designs x Woolrich Klettersack 22L Backpack&rdquo; to your cart"
                                                                   rel="nofollow"
                                                                   title="Add to cart">
                                                                    <span class="cart_text">Add to cart</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=97"
                                                                   data-product_id="97"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-97">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="97"
                                                                           data-product-type="simple"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/white-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">White Designs x Woolrich Klettersack 22L Backpack</h2>
                                                        </a>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half"></i>
                                                        </div>
                                                        <span class="price">
                                                            <del>
                                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>80.00</span>
                                                            </del>
                                                            <ins>
                                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>69.00</span>
                                                            </ins>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate adipisicing ut labore et veniam, quis nostrud exercitation
                                                                ullamco,Proin lectus ipsum, gravida et mattis vulputate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-92 product type-product status-publish has-post-thumbnail product_cat-clutch product_cat-half-moon product_cat-hobo instock featured shipping-taxable purchasable product-type-simple">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/xopo-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/14-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/13-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">New</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/home-2/?add-to-cart=92"
                                                                   data-quantity="1"
                                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                   data-product_id="92"
                                                                   data-product_sku=""
                                                                   aria-label="Add &ldquo;Xopo Designs x Woolrich Klettersack 22L Backpack&rdquo; to your cart"
                                                                   rel="nofollow"
                                                                   title="Add to cart">
                                                                    <span class="cart_text">Add to cart</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=92"
                                                                   data-product_id="92"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-92">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="92"
                                                                           data-product-type="simple"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/xopo-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Xopo Designs x Woolrich Klettersack 22L Backpack</h2>
                                                        </a>
                                                        <div class="product-rating">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                                                        </div>
                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>2,000.00</span>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate adipisicing ut labore et veniam, quis nostrud exercitation
                                                                ullamco,Proin lectus ipsum, gravida et mattis vulputate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab-pouch">
                                    <div class="row grid_view products columns-5">
                                        <div class="owl-carousel">
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-100 product type-product status-publish has-post-thumbnail product_cat-half-moon product_cat-pouch first instock featured shipping-taxable purchasable product-type-simple">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/hopo-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/8-1-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/7-1-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">New</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/home-2/?add-to-cart=100"
                                                                   data-quantity="1"
                                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                   data-product_id="100"
                                                                   data-product_sku=""
                                                                   aria-label="Add &ldquo;Hopo Designs x Woolrich Klettersack 22L Backpack&rdquo; to your cart"
                                                                   rel="nofollow"
                                                                   title="Add to cart">
                                                                    <span class="cart_text">Add to cart</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=100"
                                                                   data-product_id="100"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-100">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="100"
                                                                           data-product-type="simple"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/hopo-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Hopo Designs x Woolrich Klettersack 22L Backpack</h2>
                                                        </a>
                                                        <span class="price">
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>100.00</span>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate adipisicing ut labore et veniam, quis nostrud exercitation
                                                                ullamco,Proin lectus ipsum, gravida et mattis vulputate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12 post-95 product type-product status-publish has-post-thumbnail product_cat-half-moon product_cat-pouch instock sale shipping-taxable purchasable product-type-simple">
                                                <div class="product-wrapper">
                                                    <div class="product-img">
                                                        <a href="http://demo.wphash.com/sophie/product/ropo-designs-x-woolrich-klettersack-22l-backpack/">
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34.jpg"
                                                                 class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/34-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                            <img width="500"
                                                                 height="500"
                                                                 src="http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33.jpg"
                                                                 class="secondary-img"
                                                                 alt=""
                                                                 srcset="
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33.jpg         500w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33-250x250.jpg 250w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33-350x350.jpg 350w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33-150x150.jpg 150w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33-300x300.jpg 300w,
                                                                                            http://demo.wphash.com/sophie/wp-content/uploads/2018/05/33-100x100.jpg 100w
                                                                                        "
                                                                 sizes="(max-width: 500px) 100vw, 500px" />
                                                        </a>
                                                        <span class="onsale">-10%</span>
                                                        <div class="product-action">
                                                            <div class="action-inner">
                                                                <a href="http://demo.wphash.com/sophie/home-2/?add-to-cart=95"
                                                                   data-quantity="1"
                                                                   class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                   data-product_id="95"
                                                                   data-product_sku=""
                                                                   aria-label="Add &ldquo;Ropo Designs x Woolrich Klettersack 22L Backpack&rdquo; to your cart"
                                                                   rel="nofollow"
                                                                   title="Add to cart">
                                                                    <span class="cart_text">Add to cart</span> <i class="icon_cart_alt"></i>
                                                                </a>
                                                                <a title="Compare"
                                                                   href="http://demo.wphash.com/sophie?action=yith-woocompare-add-product&amp;id=95"
                                                                   data-product_id="95"
                                                                   rel="nofollow"
                                                                   class="compare button">
                                                                    <i class="icon_tags_alt" aria-hidden="true"></i>
                                                                </a>
                                                                <div class="action-same yith-wcwl-add-to-wishlist add-to-wishlist-95">
                                                                    <div class="yith-wcwl-add-button show">
                                                                        <a title="Add to wishlist"
                                                                           href="http://demo.wphash.com/sophie/wishlist/"
                                                                           data-product-id="95"
                                                                           data-product-type="simple"
                                                                           class="add_to_wishlist">
                                                                            <i class="fa fa-heart-o"></i><span class="wishlist_text">Add to wishlist</span>
                                                                        </a>
                                                                        <i class="fa fa-spinner fa-pulse ajax-loading" style="visibility: hidden;"></i>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistaddedbrowse hide" style="display: none;">
                                                                        <a title="Wishlist added" class="" href="http://demo.wphash.com/sophie/wishlist/">
                                                                            <i class="fa fa-check"></i><span class="wishlist_text">Added to wishlist! View Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                    <div class="yith-wcwl-wishlistexistsbrowse hide" style="display: none;">
                                                                        <a title="View Wishlist" href="http://demo.wphash.com/sophie/wishlist/" class="">
                                                                            <i class="fa fa-heart"></i><span class="wishlist_text">Already added to wishlist! Browse Wishlist.</span>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.product-img -->
                                                    <div class="product-content text-center">
                                                        <a href="http://demo.wphash.com/sophie/product/ropo-designs-x-woolrich-klettersack-22l-backpack/"
                                                           class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                            <h2 class="woocommerce-loop-product__title">Ropo Designs x Woolrich Klettersack 22L Backpack</h2>
                                                        </a>
                                                        <span class="price">
                                                            <del>
                                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>100.00</span>
                                                            </del>
                                                            <ins>
                                                                <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>90.00</span>
                                                            </ins>
                                                        </span>
                                                        <div class="woocommerce-product-details__short-description">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                                quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate adipisicing ut labore et veniam, quis nostrud exercitation
                                                                ullamco,Proin lectus ipsum, gravida et mattis vulputate.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="~/js/product-slider-homepage-owl.js"></script>
                </div>
            </div>
        </div>
    </div>
</section>