<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <title>@ViewData["Title"] - Microsoft.eShopOnWeb</title>
    @*<title>Ca Sau Store</title>*@
    <meta name='robots' content='noindex,nofollow' />
    <link rel="shortcut icon" href="http://demo.wphash.com/sophie/wp-content/themes/sophie/favicon.ico" />
    <!-- For iPhone -->
    <link href="~/template/css/style-1.css" rel="stylesheet" />
    <link href="~/template/css/style-2.css" rel="stylesheet" />
    <link href="~/template/css/style-3.css" rel="stylesheet" />
    <link href="~/template/css/style-4.css" rel="stylesheet" />
    <link href="~/template/css/style-5.css" rel="stylesheet" />
    <link href="~/template/css/style-6.css" rel="stylesheet" />
    <link href="~/template/css/style-7.css" rel="stylesheet" />
    <link href="~/template/css/style-8.css" rel="stylesheet" />
    <link href="~/template/css/custom.css" rel="stylesheet" />
    <link href="~/template/css/footer.css" rel="stylesheet" />
    <script src="~/template/js/hka5f.js"></script>
    <link rel="apple-touch-icon-precomposed" href="http://demo.wphash.com/sophie/wp-content/themes/sophie/favicon.ico">
    <!-- For iPhone 4 Retina display -->
    <link rel="apple-touch-icon" sizes="114x114" href="http://demo.wphash.com/sophie/wp-content/themes/sophie/favicon.ico">
    <!-- For iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="http://demo.wphash.com/sophie/wp-content/themes/sophie/favicon.ico">
    <!-- For iPad Retina display -->
    <link rel="apple-touch-icon" sizes="144x144" href="http://demo.wphash.com/sophie/wp-content/themes/sophie/favicon.ico">
</head>
@*<a asp-area="" asp-page="/Index">
        <img src="~/images/brand.png" alt="eShop On Web" />
    </a>

    <partial name="_LoginPartial" />*@
<body class="home page-template page-template-page-full-width page-template-page-full-width-php page page-id-10 theme-sophie kingcomposer kc-css-system woocommerce-no-js boxed_style_2 blog-twocolumn shop- header-default-style-one">
    <div id="page" class="site site-wrapper wrapper">
        <div id="sophie">
            <header class="header-2 main-header clearfix ">
                <!-- header-start -->
                <div class="header-transparent header_wrapper">
                    <div class="container-fluid">
                        <div class="header-top">
                            <div class="row">
                                <div class="col-md-3 col-xs-7">
                                    <div class="logo">
                                        <a href="http://demo.wphash.com/sophie/" title="Sophie" rel="home">
                                            <img src="~/template/img/logo-2.png" data-at2x="~/template/img/logo-2.png" alt="Sophie">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9 col-xs-5 pl-0">
                                    <div class="block-right f-right">
                                        <div class="current">
                                            <i class="fa fa-cog"></i>
                                            <div class="menu-extra-header-menu-container">
                                                <ul id="menu-extra-header-menu" class="current-menu">
                                                    <li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="http://demo.wphash.com/sophie/my-account/">My account</a></li>
                                                    <li id="menu-item-308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-308"><a href="http://demo.wphash.com/sophie/cart/">Cart</a></li>
                                                    <li id="menu-item-309" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-309"><a href="http://demo.wphash.com/sophie/wishlist/">Wishlist</a></li>
                                                    <li id="menu-item-307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-307"><a href="http://demo.wphash.com/sophie/checkout/">Checkout</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="serch-container hidden-xs">
                                            <i class="fa fa-search"></i>
                                            <div class="blog-search">
                                                <form id="search" action="http://demo.wphash.com/sophie/" method="GET">
                                                    <input type="text" name="s" placeholder="Search Here" />
                                                    <button type="submit"><i class="fa fa-search"></i></button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="cart-icon woocommerce">
                                            <ul>
                                                <li>
                                                    <a href="http://demo.wphash.com/sophie/cart/">
                                                        <img src="~/template/img/cart-icon.png" alt="Cart Icon" />
                                                        <span id="cart-total"></span>
                                                    </a>
                                                    <div class="widget_shopping_cart_content"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="main-menu hidden-xs hidden-sm">
                                        <nav>
                                            <ul id="menu-main-menu" class="menu">
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children nocls">
                                                    <a href="http://demo.wphash.com/sophie/" class="">Home </a>
                                                    <ul class="sub-menu no_mega_menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10 current_page_item two-col "><a href="http://demo.wphash.com/sophie/" class="menu_title">Home Style 1 </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/home-2/" class="menu_title">Home Style 2 </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/home-3/" class="menu_title">Home Style 3 </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/home-4/" class="menu_title">Home Style 4 </a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children nocls">
                                                    <a href="http://demo.wphash.com/sophie/blog/?layout=twocolumn&amp;full_width=1" class="">Blog </a>
                                                    <ul class="sub-menu no_mega_menu">
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/blog/?layout=single" class="menu_title">1 column </a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/blog/?layout=twocolumn&amp;full_width=1" class="menu_title">2 Column </a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/blog/?layout=threecolumn&amp;full_width=1" class="menu_title">3 Column </a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/blog/?layout=left" class="menu_title">Left sidebar </a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/blog/?layout=right" class="menu_title">Right sidebar </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-post two-col "><a href="http://demo.wphash.com/sophie/cullam-nec-ex-in-massa-porttitor-accumsan/" class="menu_title">Blog Details </a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children four-col ">
                                                    <a href="http://demo.wphash.com/sophie/shop/" class="">Shop </a>
                                                    <ul class="four-col mega-menu">
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children two-col ">
                                                            <a href="#" class="menu_title">Shop Layouts </a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/shop/?columns=2" class="">Shop 2 Column </a></li>
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/shop/?columns=3" class="">Shop 3 Column </a></li>
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/shop/?layout=fullw" class="">Shop No Sidebar </a></li>
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/shop/" class="">Shop Left sidebar </a></li>
                                                                <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/shop/?layout=right_sidebar" class="">Shop Right Sidebar </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children two-col ">
                                                            <a href="#" class="menu_title">Shop Pages </a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/cart/" class="">Cart </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/wishlist/" class="">Wishlist </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/checkout/" class="">Checkout </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/my-account/" class="">My account </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children two-col ">
                                                            <a href="#" class="menu_title">Categories </a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat two-col "><a href="http://demo.wphash.com/sophie/product-category/hobo/" class="">Hobo </a></li>
                                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat two-col "><a href="http://demo.wphash.com/sophie/product-category/half-moon/" class="">Half-moon </a></li>
                                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat two-col "><a href="http://demo.wphash.com/sophie/product-category/clutch/" class="">Clutch </a></li>
                                                                <li class="menu-item menu-item-type-taxonomy menu-item-object-product_cat two-col "><a href="http://demo.wphash.com/sophie/product-category/pouch/" class="">Pouch </a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children two-col ">
                                                            <a href="#" class="menu_title">Best Collections </a>
                                                            <ul class="sub-menu">
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/sale-products/" class="">Sale Products </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/featured-products/" class="">Featured Products </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/top-rated-products/" class="">Top Rated products </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/trending-products/" class="">Trending Products </a></li>
                                                                <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/best-selling-products/" class="">Best Selling Products </a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children nocls">
                                                    <a href="#" class="">Pages </a>
                                                    <ul class="sub-menu no_mega_menu">
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/about/" class="menu_title">About </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/shop/" class="menu_title">Shop </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/cart/" class="menu_title">Shopping cart </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/wishlist/" class="menu_title">Wishlist </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/checkout/" class="menu_title">Checkout </a></li>
                                                        <li class="menu-item menu-item-type-post_type menu-item-object-page two-col "><a href="http://demo.wphash.com/sophie/my-account/" class="menu_title">Login / Resgister </a></li>
                                                        <li class="menu-item menu-item-type-custom menu-item-object-custom two-col "><a href="http://demo.wphash.com/sophie/sdfsfsdf" class="menu_title">404 Page </a></li>
                                                    </ul>
                                                </li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page nocls"><a href="http://demo.wphash.com/sophie/about/" class="">About </a></li>
                                                <li class="menu-item menu-item-type-post_type menu-item-object-page nocls"><a href="http://demo.wphash.com/sophie/contact-us/" class="">Contact Us </a></li>
                                                <li class="menu-item menu-item-type-custom menu-item-object-custom nocls"><a href="http://1.envato.market/WODkP" class="">Buy Now </a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mobile-menu visible-xs visible-sm">
                        </div>
                    </div>
                </div>
                <!-- header-end -->
            </header>

            <div id="content" class="site-content">
                <div class="page-wrapper clear">
                    <div class="kc_clfw"></div>
                    @RenderBody()
              
                </div><!-- #primary -->
            </div><!-- #content -->
            <footer class="footer-wrapper ">
                <section class="kc-elm kc-css-373330 kc_row footer-area ptb-100">
                    <div class="kc-row-container  kc-container">
                        <div class="kc-wrap-columns">
                            <div class="kc-elm kc-css-902740 kc_col-sm-12 kc_column kc_col-sm-12">
                                <div class="kc-col-container">
                                    <div class="kc-elm kc-css-120481 kc_row kc_row_inner">
                                        <div class="kc-elm kc-css-280433 kc_col-sm-12 kc_column_inner kc_col-sm-12">
                                            <div class="kc_wrapper kc-col-inner-container">
                                                <div class="kc-elm kc-css-307574 kc_shortcode kc_single_image"><a href="http://demo.wphash.com/sophie/" title="" target="_self"><img src="~/template/img/3-1.png" class="" alt="" /></a></div><div class="kc-elm kc-css-255053 kc_text_block footer-content">
                                                    <p>
                                                        Welcome to the world of L.K.Bennett. Discover the latest trends of the season and how to wear them,
                                                        be inspired by profiles of influential and fascinating women,
                                                        learn about the design process and production behind the pieces you love. Why not take some time and explore?
                                                    </p>
                                                </div><div class="kc-elm kc-css-929178 multi-icons-wrapper social-footer"><a href="#" target="_blank" title="Facebook" class="multi-icons-link multi-iconsfa-facebook"><i class="fa-facebook"></i></a><a href="#" target="_blank" title="Twitter" class="multi-icons-link multi-iconsfa-twitter"><i class="fa-twitter"></i></a><a href="#" target="_blank" title="Feed" class="multi-icons-link multi-iconsfa-feed"><i class="fa-feed"></i></a><a href="#" target="_blank" title="Google+" class="multi-icons-link multi-iconsfa-google-plus"><i class="fa-google-plus"></i></a><a href="#" target="_blank" title="Linked in" class="multi-icons-link multi-iconsfa-linkedin"><i class="fa-linkedin"></i></a></div>
                                            </div>
                                        </div>
                                    </div><div class="kc-elm kc-css-395215 kc_row kc_row_inner footer-menu footer-bottom-area">
                                        <div class="kc-elm kc-css-918724 kc_col-sm-12 kc_column_inner kc_col-sm-12">
                                            <div class="kc_wrapper kc-col-inner-container">
                                                <div class="widget widget_nav_menu kc-elm kc-css-906086">
                                                    <div class="menu-quick-links-container">
                                                        <ul id="menu-quick-links" class="menu">
                                                            <li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-187"><a href="http://demo.wphash.com/sophie/about/">About</a></li>
                                                            <li id="menu-item-188" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a href="#">DELIVERY INFORMATION</a></li>
                                                            <li id="menu-item-189" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189"><a href="#">PRIVACY POLICY</a></li>
                                                            <li id="menu-item-190" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-190">
                                                                <a href="#">
                                                                    TERMS &
                                                                    CONDITIONS
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><div class="kc-elm kc-css-958829 kc_shortcode kc_single_image"><img src="~/template/img/1-2.png" class="footer-img" alt="" /></div><div class="kc-elm kc-css-84674 kc_text_block copyright"><p>Copyright © Sophie All Right Reserved.</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <div id="back-to-top"><i class="fa fa-angle-up"></i></div>
        </div><!-- #page -->
    </div>
    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <script src="~/template/js/jquery.selectBox.min.js"></script>
    @*<script src="~/template/js/jquery.yith-wcwl.js"></script>*@
    <script src="~/template/js/scripts.js"></script>
    <script src="~/template/js/jquery.blockUI.min.js"></script>
    <script src="~/template/js/add-to-cart.min.js"></script>
    <script src="~/template/js/js.cookie.min.js"></script>
    <script src="~/template/js/woocommerce.min.js"></script>
    <script src="~/template/js/cart-fragments.min.js"></script>
    <script src="~/template/js/woocompare.min.js"></script>
    <script src="~/template/js/jquery.colorbox-min.js"></script>
    <script src="~/template/js/jquery.prettyPhoto.min.js"></script>
    <script src="~/template/js/popper.min.js"></script>
    <script src="~/template/js/bootstrap.min.js"></script>
    <script src="~/template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/js/imagesloaded.min.js"></script>
    <script src="~/template/js/isotope.pkgd.min.js"></script>
    <script src="~/template/js/waypoints.js"></script>
    <script src="~/template/js/jquery.meanmenu.min.js"></script>
    <script src="~/template/js/core.min.js"></script>
    <script src="~/template/js/widget.min.js"></script>
    <script src="~/template/js/mouse.min.js"></script>
    <script src="~/template/js/slider.min.js"></script>
    <script src="~/template/js/navigation.js"></script>
    <script src="~/template/js/skip-link-focus-fix.js"></script>
    <script src="~/template/js/jquery.onepage.nav.js"></script>
    <script src="~/template/js/main.js"></script>
    <script src="~/template/js/kingcomposer.min.js"></script>
    <script src="~/template/js/wp-embed.min.js"></script>
    <script src="~/template/js/yikes-mc-ajax-forms.min.js"></script>
    <script src="~/template/js/form-submission-helpers.min.js"></script>
    <link href="~/template/css/style-9.css" rel="stylesheet" />
    <script src="~/template/js/cart-fragments.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>

